[submodule "modules/dynvalues"]
	path = modules/dynvalues
	url = https://github.com/Alexcoratt/DynValues
[submodule "modules/simplecli"]
	path = modules/simplecli
	url = https://github.com/Alexcoratt/SimpleCLI
[submodule "modules/jsoncpp"]
	path = modules/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
